<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning-Function" data-toc-modified-id="Data-Cleaning-Function-1">Data Cleaning Function</a></span><ul class="toc-item"><li><span><a href="#Sales-Data" data-toc-modified-id="Sales-Data-1.1">Sales Data</a></span></li></ul></li><li><span><a href="#Rent-Data" data-toc-modified-id="Rent-Data-2">Rent Data</a></span></li><li><span><a href="#STEP1.-Merge-Sales-Files" data-toc-modified-id="STEP1.-Merge-Sales-Files-3">STEP1. Merge Sales Files</a></span></li><li><span><a href="#STAGE-II-2-CREATE-MASTER-RENT-FILE" data-toc-modified-id="STAGE-II-2-CREATE-MASTER-RENT-FILE-4">STAGE II-2 CREATE MASTER RENT FILE</a></span></li><li><span><a href="#STAGE-II-3-MERGE-MASTER-SALES-AND-RENT-DATA" data-toc-modified-id="STAGE-II-3-MERGE-MASTER-SALES-AND-RENT-DATA-5">STAGE II-3 MERGE MASTER SALES AND RENT DATA</a></span></li><li><span><a href="#Unstacked-Master-DF" data-toc-modified-id="Unstacked-Master-DF-6">Unstacked Master DF</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#NOTE:" data-toc-modified-id="NOTE:-6.0.1">NOTE:</a></span></li></ul></li></ul></li></ul></div>

This notebook is the second step in the data cleaning and preparation serial, following the [DataCleanFunction.ipynb](files/chrisDataCleanFunction.ipynb) (can be found under the main directory), in which all 15 raw individual sales files were cleaned and grouped by years using a function and the same was done to raw rent files.

The purpose of this notebook is to:
1. Merge the cleaned sales files and the rent files (listed below) into one complete housing dataset. This file will be in the **'stacked'** format, i.e., one quarter of data is stacked on top of another quarter's with multiple entry of the same postcodes in the index.
* sales 2017-2018
* sales 2019-2021
* rent 2017-2018
* rent 2019-2021

2. Create the **unstacked** dataframe of the lastest 5 quarters (Q1 2020 - Q1 2021) of data for modelling, which will have the housing statistics from previous quarters on columns to be used as input variables together with demographic and economic features.

In [2]:
import pandas as pd
import numpy as np 

import glob
import re
%matplotlib inline

# Data Cleaning Function

## Sales Data

Provides the following dataframes: 
- salesOld
- salesOld_total
- salesOld_strata
- salesOld_nStrata
- salesNew
- salesNew_total
- salesNew_strata
- salesNew_nStrata

Where `old` denotes the files from 2017-2018 and `new` denotes the files from 2019-2021. We also have the DFs for `total`, `strata`, `nStrata`. These represent sliced DFs where the sales are of strata, non strata and all sales.

In [ ]:
def salesCleanFn(dataFolderString,osString):
    # Getting all the file names from a specified folder.
    
    #__________________________________________________________
    # If operating system is windows
    if osString == 'windows':
        dataDir = "Files\\"
        if dataFolderString[-1] != '\\':
        #if the dataFolderString does not have a forward slash, add a forward slash to the string
            fileNames = glob.glob(dataDir+dataFolderString+'\\'+'*.xlsx')
        else:
            fileNames = glob.glob(dataDir+dataFolderString+'*.xlsx')

    #__________________________________________________________
    # If operating system is mac / linux 
    else:
        dataDir = "Files/"
        if dataFolderString[-1] != '/':
            fileNames = glob.glob(dataDir+dataFolderString+'/'+'*.xlsx')
        else:
            fileNames = glob.glob(dataDir+dataFolderString+'*.xlsx')
#     print(fileNames)
    
    #__________________________________________________________
    # Looping through the fileNames to read the excel sheets. 
    frames = []
    masterDF = []

    for i, fileString in enumerate(fileNames):
        for j in range(0,8):
            df = []
            df = pd.read_excel(fileString, sheet_name="Postcode", na_values='-', header=j)

            if df.columns[0] == 'Postcode': #  checking if the 'header' parameter has the correct j value...

                # _____________________________________________________________________________________
                # adding additional columns
                regex = re.compile(r'\d+') #finds all numbers in string
                fileNumbers = regex.findall(fileString) #only works if the format of the 
                # filename is consistent. Stores the 'regex' numbers in a list.
                
                df['key'] = 's'+fileNumbers[2] # fileNumbers type = string
                year = fileNumbers[3] #type = string
                
                # the following statement searches for the month in the filename
                # if the find() function does not find the month, it returns '-1' and moves on to the next line.
                # Thus the use of !=-1. 
                if fileString.find('mar') !=-1 or fileString.find('Mar') !=-1:
                    quarter = 'Q1'
                elif fileString.find('jun') !=-1 or fileString.find('Jun') !=-1:
                    quarter = 'Q2'
                elif fileString.find('sep') !=-1 or fileString.find('Sep') !=-1:
                    quarter = 'Q3'
                elif fileString.find('dec') !=-1 or fileString.find('Dec') !=-1:
                    quarter = 'Q4'
                df['time_period'] = year + ' ' + quarter

                df['year'] = year

                df['quarter'] = quarter
                
                # some of the columns in the files are not the same, so we fix them here
                column = 'Quarterly change in Median Sales Price'
                newColumns = {'Quarterly change in Median Sales Price':'Qtly change in Median',
                             'Annual change in Median Sales Price':'Annual change in Median',
                             'Quarterly change in Count':'Qtly change in Count'}
        
                if column in df.columns:
                    df.rename(columns = newColumns, inplace= True)
                
                # finally, putting the DF into a list: frames
                frames.extend([df])
                
               


    # _____________________________________________________________________________________
    # putting all the DFs (frames) together to get a master DF
    masterDF = pd.concat(frames)
    # General cleaning
    rename_cols= {'Postcode':'postcode', 
             'Dwelling Type':'dwelling_type', 
             "First Quartile Sales Price\n$'000s" : '25%_price',
             "Median Sales Price\n$'000s" : 'median_price', 
             "Third Quartile Sales Price\n'000s" : '75%_price',
             "Mean Sales Price\n$'000s" : 'mean_price',
             'Sales\nNo.':'sales_no',
             'Qtly change in Median':'Qdelta_median',
             'Annual change in Median':'Adelta_median',
             'Qtly change in Count':'Qdelta_count',
             'Annual change in Count':'Adelta_count'}
    
    masterDF.rename(columns=rename_cols, inplace=True) #rename the columns for easier referencing



    masterDF = masterDF.drop(columns=['25%_price', '75%_price'], axis=1) # dropping unwanted columns
    
    masterDF.loc[masterDF['sales_no'].isnull(), 'sales_no'] = 5.0 #imputing NAN values. 5 is median of 0 and 10 being the 
    # range for null values in the dataset. 
    
    # fixing the NAN values in the median and mean columns 
    keys = list(masterDF['key'].unique())

    for k in keys:
    # Total
    # First, median
        k_impMedianTotal = masterDF.loc[(masterDF['median_price'].notna()) & 
                             (masterDF['dwelling_type']=='Total') &
                             (masterDF['key']==k),
                             'median_price'].median() # calculate imputer value 

        masterDF.loc[(masterDF['median_price'].isnull()) & 
                     (masterDF['dwelling_type']=='Total') &
                     (masterDF['key']==k),
                     'median_price']=k_impMedianTotal #impute

    # mean
        k_impMeanTotal = masterDF.loc[(masterDF['mean_price'].notna()) & 
                             (masterDF['dwelling_type']=='Total') &
                             (masterDF['key']==k),
                             'median_price'].median()

        masterDF.loc[(masterDF['mean_price'].isnull()) & 
                 (masterDF['dwelling_type']=='Total') &
                 (masterDF['key']==k),
                 'mean_price']=k_impMeanTotal #impute
#         print(k_impMeanTotal)
#         print('')
#         print(k)

    # Strata
    # First, median
        k_impMedianStrata = masterDF.loc[(masterDF['median_price'].notna()) & 
                             (masterDF['dwelling_type']=='Strata') &
                             (masterDF['key']==k),
                             'median_price'].median()


        masterDF.loc[(masterDF['median_price'].isnull()) & 
                     (masterDF['dwelling_type']=='Strata') &
                     (masterDF['key']==k),
                     'median_price']=k_impMedianStrata

    # mean
        k_impMeanStrata = masterDF.loc[(masterDF['mean_price'].notna()) & 
                             (masterDF['dwelling_type']=='Strata') &
                             (masterDF['key']==k),
                             'mean_price'].median()

        masterDF.loc[(masterDF['mean_price'].isnull()) & 
                     (masterDF['dwelling_type']=='Strata') &
                     (masterDF['key']==k),
                     'mean_price']=k_impMeanStrata

    # Non-Strata
    # First, median
        k_impMedianNonStrata = masterDF.loc[(masterDF['median_price'].notna()) & 
                             (masterDF['dwelling_type']=='Non Strata') &
                             (masterDF['key']==k),
                             'median_price'].median()

        masterDF.loc[(masterDF['median_price'].isnull()) & 
                     (masterDF['dwelling_type']=='Non Strata') &
                     (masterDF['key']==k),
                     'median_price']=k_impMedianNonStrata

    # mean
        k_impMeanNonStrata = masterDF.loc[(masterDF['mean_price'].notna()) & 
                             (masterDF['dwelling_type']=='Non Strata') &
                             (masterDF['key']==k),
                             'mean_price'].median()

        masterDF.loc[(masterDF['mean_price'].isnull()) & 
                     (masterDF['dwelling_type']=='Non Strata') &
                     (masterDF['key']==k),
                     'mean_price']=k_impMeanNonStrata
        continue

    masterDF.loc[masterDF['sales_no'] == 's', 'sales_no'] = 20.0 # Replace 's' with the median of 
    # 10 and 30 since there are quite a few

    masterDF['sales_no'] = masterDF['sales_no'].astype(float) # Cast type as float

    total = masterDF.loc[masterDF['dwelling_type']=='Total'] # Separate dwelling types
    strata = masterDF.loc[masterDF['dwelling_type']=='Strata']
    nstrata = masterDF.loc[masterDF['dwelling_type']=='Non Strata'] 

    return masterDF, total, strata, nstrata

Calling the function and saving the dataframes as CSV.

In [ ]:
salesOld, salesOld_total, salesOld_strata, salesOld_nStrata  = salesCleanFn('Sales/2017_2018', 'windows')

salesOld.to_csv('Files/sales_2017_2018')

salesOld_total.to_csv('Files/salesTotal_2017_2018')

salesOld_strata.to_csv('Files/salesStrata_2017_2018')

salesOld_nStrata.to_csv('Files/salesNstrata_2017_2018')

salesNew, salesNew_total, salesNew_strata,  salesNew_nStrata =  salesCleanFn('Sales/2019_2021', 'windows')

salesNew.to_csv('Files/sales_2019_2021')

salesNew_total.to_csv('Files/salesTotal_2019_2021')

salesNew_strata.to_csv('Files/salesStrata_2019_2021')

salesNew_nStrata.to_csv('Files/salesNstrata_2019_2021')

# Rent Data

Provides the following data frames: 
- rentNew
- rentOld

Where `old` denotes the files from 2017-2018 and `new` denotes the files from 2019-2021.

In [ ]:
def rentCleanFn(dataFolderString,osString):
        
    #__________________________________________________________
    # If operating system is windows
    if osString == 'windows':
        dataDir = "Files\\"
        if dataFolderString[-1] != '\\':
        #if the dataFolderString does not have a forward slash, add a forward slash to the string
            fileNames = glob.glob(dataDir+dataFolderString+'\\'+'*.xlsx')
        else:
            fileNames = glob.glob(dataDir+dataFolderString+'*.xlsx')

    #__________________________________________________________
    # If operating system is mac / linux 
    else:
        dataDir = "Files/"
        if dataFolderString[-1] != '/':
            fileNames = glob.glob(dataDir+dataFolderString+'/'+'*.xlsx')
        else:
            fileNames = glob.glob(dataDir+dataFolderString+'*.xlsx')
#     print(fileNames)
    
    #__________________________________________________________
    # Looping through the fileNames to read the excel sheets. 
    frames = []
    masterDF = []
    
    for i, fileString in enumerate(fileNames):
        for j in range(0,8):
            df = []
            df = pd.read_excel(fileString, sheet_name="Postcode", na_values='-', header=j)

            if df.columns[0] == 'Postcode': # ...if the 'header' parameter has the correct j value...

                # adding additional columns
                regex = re.compile(r'\d+') #finds all numbers in string
                fileNumbers = regex.findall(fileString)
                
                df['key'] = 'r'+fileNumbers[2] # fileNumbers type = string
    
                
        
                # some of the columns in the files are not the same, so we fix them here
                column = 'Bedroom Numbers'
                newColumns = {'Bedroom Numbers':'Number of Bedrooms'}
        
                if column in df.columns:
                    df.rename(columns = newColumns, inplace= True)
                
                
                
                frames.extend([df])# putting the DF into a list, frames

            
              



    masterDF = pd.concat(frames)
    
    # droppinig this column as we've confirmed there's an issue with the raw csv file. 
    if 'Unnamed: 10' in masterDF.columns:
        masterDF=  masterDF.drop(columns='Unnamed: 10')

    # Drop unwanted columns
    masterDF = masterDF.drop(columns=['First Quartile Weekly Rent for New Bonds\n$',
                          'Third Quartile Weekly Rent for New Bonds\n$'],
                axis=1)
    
    # Rename columns
    rename_cols= {'Postcode':'postcode',
                  'Dwelling Types':'dwelling_type', 
                  'Number of Bedrooms':'bed_number',
                  'Median Weekly Rent for New Bonds\n$': 'median_rent_newb',
                  'New Bonds Lodged\nNo.' : 'new_bonds_no',
                  'Total Bonds Held\nNo.': 'total_bonds_no',
                  'Quarterly change in Median Weekly Rent':'Qdelta_median_rent',
                  'Annual change in Median Weekly Rent':'Adelta_median_rent',
                  'Quarterly change in New Bonds Lodged':'Qdelta_new_bonds',
                  'Annual change in New Bonds Lodged':'Adelta_new_bonds'}
    
    masterDF.rename(columns=rename_cols,inplace=True)

    masterDF_ag = masterDF.loc[(masterDF['bed_number']=='Total') & (masterDF['dwelling_type']=='Total')]
    masterDF_ag = masterDF_ag.drop(columns=['bed_number','dwelling_type'], axis=1)
    
    # Impute 's' in 'new_bonds_no' and 'total_bonds_no' with 20
    masterDF_ag.loc[masterDF_ag['new_bonds_no']=='s','new_bonds_no'] = 20.0
    masterDF_ag.loc[masterDF_ag['total_bonds_no']=='s', 'total_bonds_no'] = 20.0

    # Impute na in 'new_bonds_no' and 'total_bonds_no' with 5
    masterDF_ag.loc[masterDF_ag['new_bonds_no'].isnull(),'new_bonds_no'] = 5.0
    masterDF_ag.loc[masterDF_ag['total_bonds_no'].isnull(), 'total_bonds_no'] = 5.0

    # Cast both variables as float (was object)
    masterDF_ag['new_bonds_no'] = masterDF_ag['new_bonds_no'].astype(float)
    masterDF_ag['total_bonds_no'] = masterDF_ag['total_bonds_no'].astype(float)

    # Impute na in 'median_rent' with median of the column
    masterDF_ag['median_rent_newb'].fillna(masterDF_ag['median_rent_newb'].median(), inplace=True)
    

    # Set postcode as index
    
    masterDF_ag = masterDF_ag.set_index('postcode')
    return masterDF_ag

Calling the function and saving the dataframes as CSV.

In [20]:
rentNew = rentCleanFn('Rent/2019_2021', 'windows')

time taken to run the function: 158.8437283039093

In [21]:
rentOld  = rentCleanFn('Rent/2017_2018', 'windows')

102.35191702842712

In [22]:
rentOld.to_csv('Files/rent_2017_2018')

In [23]:
rentNew.to_csv('Files/rent_2019_2021')

# STEP1. Merge Sales Files

Merge the cleaned 'sales 2017-2018' and 'sales 2019-2020'.

In [3]:
# Read sales 2017-2018

sales17_18 = "Files/sales_2017_2018"
sales17_18 = pd.read_csv(sales17_18, usecols=['postcode', 'dwelling_type', 'median_price', 'mean_price',
                                               'sales_no', 'Qdelta_median', 'Adelta_median', 'Qdelta_count',
                                               'Adelta_count', 'key', 'time_period', 'year', 'quarter'])

cols = ['postcode', 'key', 'time_period', 'year', 'quarter', 
        'dwelling_type', 'median_price', 'mean_price','sales_no', 
        'Qdelta_median', 'Adelta_median', 'Qdelta_count','Adelta_count' ]

sales17_18 = sales17_18[cols]
sales17_18.head(1)

,postcode,key,time_period,year,quarter,dwelling_type,median_price,mean_price,sales_no,Qdelta_median,Adelta_median,Qdelta_count,Adelta_count
0,2000,s122,2017 Q3,2017,Q3,Total,1350.0,1516.328059,135.0,0.1345,0.4746,-0.325,-0.3112

In [4]:
# Read sales 2019-2021

sales19_21 = "Files/sales_2019_2021"
sales19_21 = pd.read_csv(sales19_21, usecols=['postcode', 'dwelling_type', 'median_price', 'mean_price',
                                               'sales_no', 'Qdelta_median', 'Adelta_median', 'Qdelta_count',
                                               'Adelta_count', 'key', 'time_period', 'year', 'quarter'])

cols = ['postcode', 'key', 'time_period', 'year', 'quarter', 
        'dwelling_type', 'median_price', 'mean_price','sales_no', 
        'Qdelta_median', 'Adelta_median', 'Qdelta_count','Adelta_count' ]

sales19_21 = sales19_21[cols]
sales19_21.head(1)

,postcode,key,time_period,year,quarter,dwelling_type,median_price,mean_price,sales_no,Qdelta_median,Adelta_median,Qdelta_count,Adelta_count
0,2000,s128,2019 Q1,2019,Q1,Total,1160.0,1348.0,103.0,-0.0169,-0.1375,-0.1043,-0.1488

In [5]:
# Concatenate the two sales files 
sales_full = pd.concat([sales17_18, sales19_21])

# Check if all quarters are present
print(sales_full.groupby('time_period').size())

time_period
2017 Q3    1404
2017 Q4    1409
2018 Q1    1371
2018 Q2    1378
2018 Q3    1338
2018 Q4    1372
2019 Q1    1332
2019 Q2    1356
2019 Q3    1377
2019 Q4    1382
2020 Q1    1361
2020 Q2    1332
2020 Q3    1419
2020 Q4    1459
2021 Q1    1427
dtype: int64

In [6]:
# Check null values
sales_full.isnull().sum()

postcode            0
key                 0
time_period         0
year                0
quarter             0
dwelling_type       0
median_price        0
mean_price          0
sales_no            0
Qdelta_median    5857
Adelta_median    5861
Qdelta_count     5857
Adelta_count     5861
dtype: int64

The delta variables will later be removed in the actual analysis but was kept here just in case they're of any use. Hence, we were not too concerned about the nulls in them and didn't do anything to clean them up.

In [7]:
sales_full.head()

,postcode,key,time_period,year,quarter,dwelling_type,median_price,mean_price,sales_no,Qdelta_median,Adelta_median,Qdelta_count,Adelta_count
0,2000,s122,2017 Q3,2017,Q3,Total,1350.0,1516.328059,135.0,0.1345,0.4746,-0.3250,-0.3112
1,2000,s122,2017 Q3,2017,Q3,Strata,1350.0,1516.328059,135.0,0.1431,0.5553,-0.3182,-0.2703
2,2007,s122,2017 Q3,2017,Q3,Total,817.5,804.448333,36.0,-0.1090,-0.1572,-0.4462,-0.3455
3,2007,s122,2017 Q3,2017,Q3,Strata,817.5,804.448333,36.0,-0.0815,-0.1528,-0.4194,-0.3208
4,2008,s122,2017 Q3,2017,Q3,Total,995.0,1061.807024,41.0,-0.0005,0.0205,-0.1087,-0.1277

Save the complete sales dataset as .csv for later easier reference.

In [8]:
sales_full.to_csv('Files/Cleaned/Sales_2017Q3_2021Q1_Clean.csv', index=False)

# STAGE II-2 CREATE MASTER RENT FILE

In [8]:
# Read rent 2017-2018
rent17_18 = "Files/rent_2017_2018"
rent17_18 = pd.read_csv(rent17_18)

# Read rent 2019-2021
rent19_21 = "Files/rent_2019_2021"
rent19_21 = pd.read_csv(rent19_21)

# Concat both rent files
rent_full = pd.concat([rent17_18, rent19_21])
rent_full.head()

,postcode,median_rent_newb,new_bonds_no,total_bonds_no,Qdelta_median_rent,Qdelta_new_bonds,key,Adelta_median_rent,Adelta_new_bonds
0,2000,640.0,1169.0,7914.0,-0.2000,0.5545,r121,NaN,NaN
1,2007,535.0,301.0,2231.0,-0.1371,1.1049,r121,NaN,NaN
2,2008,479.0,762.0,5020.0,-0.1812,1.3374,r121,NaN,NaN
3,2009,745.0,232.0,2966.0,-0.0067,-0.0720,r121,NaN,NaN
4,2010,650.0,805.0,8978.0,-0.0152,-0.0451,r121,NaN,NaN

In [9]:
# Check null values
rent_full.isnull().sum()

postcode                 0
median_rent_newb         0
new_bonds_no             0
total_bonds_no           0
Qdelta_median_rent    3187
Qdelta_new_bonds      3066
key                      0
Adelta_median_rent    3179
Adelta_new_bonds      3179
dtype: int64

In [10]:
# Check all quarters are presented
rent_full.groupby('key').size()

key
r121    612
r122    612
r123    637
r124    639
r125    638
r126    636
r127    637
r128    640
r129    641
r130    641
r131    619
r132    617
r133    617
r134    620
r135    617
dtype: int64

**NOTE:** rkey = skey-1 for the same quarter

In [11]:
# Need to map keys to time_periods so that can merge it with sales data

tp = ['2017 Q3', '2017 Q4', 
      '2018 Q1', '2018 Q2', '2018 Q3', '2018 Q4', 
      '2019 Q1', '2019 Q2', '2019 Q3', '2019 Q4', 
      '2020 Q1', '2020 Q2', '2020 Q3', '2020 Q4', 
      '2021 Q1']
rkeys = ['r121','r122',
         'r123','r124','r125','r126',
         'r127','r128','r129','r130',
         'r131','r132','r133','r134',
         'r135']

rent_full['time_period'] = np.nan

for i in list(range(0,15)):
    rent_full.loc[rent_full['key']==rkeys[i], 'time_period']=tp[i]
    
rent_full.groupby('time_period').size()

time_period
2017 Q3    612
2017 Q4    612
2018 Q1    637
2018 Q2    639
2018 Q3    638
2018 Q4    636
2019 Q1    637
2019 Q2    640
2019 Q3    641
2019 Q4    641
2020 Q1    619
2020 Q2    617
2020 Q3    617
2020 Q4    620
2021 Q1    617
dtype: int64

In [12]:
# Update column name of 'key'
rent_full = rent_full.rename(columns={'key':'rkey'})


# Change columns order
cols = ['postcode', 'rkey', 'time_period', 'median_rent_newb', 'new_bonds_no', 'total_bonds_no',
       'Qdelta_median_rent', 'Qdelta_new_bonds', 'Adelta_median_rent',
       'Adelta_new_bonds']
rent_full = rent_full[cols]

rent_full.head()

,postcode,rkey,time_period,median_rent_newb,new_bonds_no,total_bonds_no,Qdelta_median_rent,Qdelta_new_bonds,Adelta_median_rent,Adelta_new_bonds
0,2000,r121,2017 Q3,640.0,1169.0,7914.0,-0.2000,0.5545,NaN,NaN
1,2007,r121,2017 Q3,535.0,301.0,2231.0,-0.1371,1.1049,NaN,NaN
2,2008,r121,2017 Q3,479.0,762.0,5020.0,-0.1812,1.3374,NaN,NaN
3,2009,r121,2017 Q3,745.0,232.0,2966.0,-0.0067,-0.0720,NaN,NaN
4,2010,r121,2017 Q3,650.0,805.0,8978.0,-0.0152,-0.0451,NaN,NaN

In [ ]:
# Save full rent data into csv
rent_full.to_csv('Files/Cleaned/Rent_2017Q4_2021Q2_Clean.csv', index=False)

# STAGE II-3 MERGE MASTER SALES AND RENT DATA

In [13]:
# Change the name of 'key' column from sales to 'skey' to differentiate from 'rkey' in rent
sales_full = sales_full.rename(columns={'key':'skey'})

In [14]:
sales_rent_full = pd.merge(sales_full, rent_full, how='left',
                           left_on=['postcode','time_period'],
                           right_on=['postcode', 'time_period'])

sales_rent_full.head()

,postcode,skey,time_period,year,quarter,dwelling_type,median_price,mean_price,sales_no,Qdelta_median,...,Qdelta_count,Adelta_count,rkey,median_rent_newb,new_bonds_no,total_bonds_no,Qdelta_median_rent,Qdelta_new_bonds,Adelta_median_rent,Adelta_new_bonds
0,2000,s122,2017 Q3,2017,Q3,Total,1350.0,1516.328059,135.0,0.1345,...,-0.3250,-0.3112,r121,640.0,1169.0,7914.0,-0.2000,0.5545,NaN,NaN
1,2000,s122,2017 Q3,2017,Q3,Strata,1350.0,1516.328059,135.0,0.1431,...,-0.3182,-0.2703,r121,640.0,1169.0,7914.0,-0.2000,0.5545,NaN,NaN
2,2007,s122,2017 Q3,2017,Q3,Total,817.5,804.448333,36.0,-0.1090,...,-0.4462,-0.3455,r121,535.0,301.0,2231.0,-0.1371,1.1049,NaN,NaN
3,2007,s122,2017 Q3,2017,Q3,Strata,817.5,804.448333,36.0,-0.0815,...,-0.4194,-0.3208,r121,535.0,301.0,2231.0,-0.1371,1.1049,NaN,NaN
4,2008,s122,2017 Q3,2017,Q3,Total,995.0,1061.807024,41.0,-0.0005,...,-0.1087,-0.1277,r121,479.0,762.0,5020.0,-0.1812,1.3374,NaN,NaN

In [15]:
print(sales_rent_full.shape)
print(sales_rent_full.groupby('time_period').size())

(20717, 21)
time_period
2017 Q3    1404
2017 Q4    1409
2018 Q1    1371
2018 Q2    1378
2018 Q3    1338
2018 Q4    1372
2019 Q1    1332
2019 Q2    1356
2019 Q3    1377
2019 Q4    1382
2020 Q1    1361
2020 Q2    1332
2020 Q3    1419
2020 Q4    1459
2021 Q1    1427
dtype: int64

In [16]:
print(sales_rent_full.isnull().sum())

postcode                 0
skey                     0
time_period              0
year                     0
quarter                  0
dwelling_type            0
median_price             0
mean_price               0
sales_no                 0
Qdelta_median         5857
Adelta_median         5861
Qdelta_count          5857
Adelta_count          5861
rkey                     6
median_rent_newb         6
new_bonds_no             6
total_bonds_no           6
Qdelta_median_rent    3885
Qdelta_new_bonds      3706
Adelta_median_rent    3908
Adelta_new_bonds      3908
dtype: int64

In [17]:
# Check the 6 postcodes that are null in rent:
sales_rent_full.loc[sales_rent_full['rkey'].isnull()]

,postcode,skey,time_period,year,quarter,dwelling_type,median_price,mean_price,sales_no,Qdelta_median,...,Qdelta_count,Adelta_count,rkey,median_rent_newb,new_bonds_no,total_bonds_no,Qdelta_median_rent,Qdelta_new_bonds,Adelta_median_rent,Adelta_new_bonds
1338,2817,s122,2017 Q3,2017,Q3,Total,675.25,675.250,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1339,2817,s122,2017 Q3,2017,Q3,Non Strata,712.50,743.804,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2733,2817,s123,2017 Q4,2017,Q4,Total,714.00,714.000,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,2817,s123,2017 Q4,2017,Q4,Non Strata,750.00,801.500,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2811,3644,s123,2017 Q4,2017,Q4,Total,475.00,484.000,20.0,0.8627,...,0.3333,-0.0769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2812,3644,s123,2017 Q4,2017,Q4,Non Strata,475.00,484.000,20.0,0.8627,...,0.3333,-0.0769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sales_rent_full.to_csv('Files/Cleaned/Master_Sales_Rent_2017Q4_2021Q1.csv', index=False)

In [19]:
sales_rent_full.head()

,postcode,skey,time_period,year,quarter,dwelling_type,median_price,mean_price,sales_no,Qdelta_median,...,Qdelta_count,Adelta_count,rkey,median_rent_newb,new_bonds_no,total_bonds_no,Qdelta_median_rent,Qdelta_new_bonds,Adelta_median_rent,Adelta_new_bonds
0,2000,s122,2017 Q3,2017,Q3,Total,1350.0,1516.328059,135.0,0.1345,...,-0.3250,-0.3112,r121,640.0,1169.0,7914.0,-0.2000,0.5545,NaN,NaN
1,2000,s122,2017 Q3,2017,Q3,Strata,1350.0,1516.328059,135.0,0.1431,...,-0.3182,-0.2703,r121,640.0,1169.0,7914.0,-0.2000,0.5545,NaN,NaN
2,2007,s122,2017 Q3,2017,Q3,Total,817.5,804.448333,36.0,-0.1090,...,-0.4462,-0.3455,r121,535.0,301.0,2231.0,-0.1371,1.1049,NaN,NaN
3,2007,s122,2017 Q3,2017,Q3,Strata,817.5,804.448333,36.0,-0.0815,...,-0.4194,-0.3208,r121,535.0,301.0,2231.0,-0.1371,1.1049,NaN,NaN
4,2008,s122,2017 Q3,2017,Q3,Total,995.0,1061.807024,41.0,-0.0005,...,-0.1087,-0.1277,r121,479.0,762.0,5020.0,-0.1812,1.3374,NaN,NaN

# Unstacked Master DF

In [20]:
# Create a subset that only contains 5 Quarters of data (FOR TESTING PURPOSE)
subset = sales_rent_full.loc[sales_rent_full['time_period'].isin(['2020 Q1','2020 Q2','2020 Q3','2020 Q4','2021 Q1'])]

# Get some of the (potentially) unnecessary variables
subset = subset.drop(columns=['Qdelta_median','Adelta_median','Qdelta_count','Adelta_count',
                              'Qdelta_median_rent', 'Adelta_median_rent','Qdelta_new_bonds','Adelta_new_bonds'],
                     axis=1)

# And only keep 'Total' dwelling type (i.e. get rid of Strata and Non-strata)
subset_total = subset.loc[subset['dwelling_type'] == 'Total']

print(subset_total.groupby('time_period').size(),'\n')
print(subset_total.groupby('dwelling_type').size(),'\n')
print(subset_total.shape)

time_period
2020 Q1    520
2020 Q2    521
2020 Q3    544
2020 Q4    563
2021 Q1    544
dtype: int64

dwelling_type
Total    2692
dtype: int64

(2692, 13)

In [21]:
print(subset_total.isnull().sum())

postcode            0
skey                0
time_period         0
year                0
quarter             0
dwelling_type       0
median_price        0
mean_price          0
sales_no            0
rkey                0
median_rent_newb    0
new_bonds_no        0
total_bonds_no      0
dtype: int64

In [22]:
print("number of postcode in Q4 2020:",
      subset_total.loc[subset_total['time_period']=='2020 Q4', 'postcode'].nunique())
print("number of postcode in Q1 2021:",
      subset_total.loc[subset_total['time_period']=='2021 Q1', 'postcode'].nunique())

number of postcode in Q4 2020: 563
number of postcode in Q1 2021: 544

### NOTE:

Because each quarterly table has different numbers of postcodes and they're not an exact match from quarter to quarter, there will be additional null values generated after pivoting simply due to certain postcodes having data in some quarters but not in others. We have two options:

**OPTION1: Impute na with mean or median**

In [23]:
pivot = subset_total.pivot_table(index='postcode', columns='time_period', values=
                                 ['median_price', 'mean_price', 'sales_no', 
                                  'median_rent_newb','new_bonds_no', 'total_bonds_no']).round(2)

pivot.head()

            mean_price                                 median_price          \
time_period    2020 Q1 2020 Q2 2020 Q3 2020 Q4 2021 Q1      2020 Q1 2020 Q2
postcode
2000            1541.0  1322.0  1631.0  1379.0  2794.0       1225.0  1000.0
2007             834.0   739.0   658.0   677.0   754.0        745.0   775.0
2008             956.0  1144.0   985.0  1184.0   937.0        750.0  1173.0
2009            1277.0  1282.0  1373.0  1661.0  1427.0        986.0  1100.0
2010            1357.0  1395.0  1476.0  2267.0  1371.0       1280.0  1325.0

                                     ... sales_no                          \
time_period 2020 Q3 2020 Q4 2021 Q1  ...  2020 Q1 2020 Q2 2020 Q3 2020 Q4
postcode                             ...
2000         1390.0  1110.0  1371.0  ...    105.0    74.0   100.0   155.0
2007          655.0   651.0   763.0  ...     20.0    20.0    20.0    20.0
2008          890.0   991.0   855.0  ...     35.0    20.0    36.0    45.0
2009         1085.0  1075.0  1188.0  ...     20.0    32.0    56.0    75.0
2010         1270.0  1240.0  1201.0  ...    151.0   125.0   157.0   211.0

                    total_bonds_no
time_period 2021 Q1        2020 Q1 2020 Q2 2020 Q3 2020 Q4 2021 Q1
postcode
2000          184.0         8615.0  7595.0  8069.0  9140.0  9327.0
2007           20.0         2116.0  1810.0  1876.0  1979.0  2024.0
2008           49.0         4613.0  4286.0  4116.0  4514.0  4228.0
2009           54.0         2913.0  2793.0  2913.0  3247.0  3333.0
2010          218.0         8338.0  8079.0  8182.0  8521.0  8626.0

[5 rows x 30 columns]

In [24]:
pivot.columns = [' '.join(col) for col in pivot.columns]
pivot.head()

,mean_price 2020 Q1,mean_price 2020 Q2,mean_price 2020 Q3,mean_price 2020 Q4,mean_price 2021 Q1,median_price 2020 Q1,median_price 2020 Q2,median_price 2020 Q3,median_price 2020 Q4,median_price 2021 Q1,...,sales_no 2020 Q1,sales_no 2020 Q2,sales_no 2020 Q3,sales_no 2020 Q4,sales_no 2021 Q1,total_bonds_no 2020 Q1,total_bonds_no 2020 Q2,total_bonds_no 2020 Q3,total_bonds_no 2020 Q4,total_bonds_no 2021 Q1
postcode,,,,,,,,,,,,,,,,,,,,,
2000,1541.0,1322.0,1631.0,1379.0,2794.0,1225.0,1000.0,1390.0,1110.0,1371.0,...,105.0,74.0,100.0,155.0,184.0,8615.0,7595.0,8069.0,9140.0,9327.0
2007,834.0,739.0,658.0,677.0,754.0,745.0,775.0,655.0,651.0,763.0,...,20.0,20.0,20.0,20.0,20.0,2116.0,1810.0,1876.0,1979.0,2024.0
2008,956.0,1144.0,985.0,1184.0,937.0,750.0,1173.0,890.0,991.0,855.0,...,35.0,20.0,36.0,45.0,49.0,4613.0,4286.0,4116.0,4514.0,4228.0
2009,1277.0,1282.0,1373.0,1661.0,1427.0,986.0,1100.0,1085.0,1075.0,1188.0,...,20.0,32.0,56.0,75.0,54.0,2913.0,2793.0,2913.0,3247.0,3333.0
2010,1357.0,1395.0,1476.0,2267.0,1371.0,1280.0,1325.0,1270.0,1240.0,1201.0,...,151.0,125.0,157.0,211.0,218.0,8338.0,8079.0,8182.0,8521.0,8626.0

In [25]:
print(pivot.shape)
print(pivot.isnull().sum())

(577, 30)
mean_price 2020 Q1          57
mean_price 2020 Q2          56
mean_price 2020 Q3          33
mean_price 2020 Q4          14
mean_price 2021 Q1          33
median_price 2020 Q1        57
median_price 2020 Q2        56
median_price 2020 Q3        33
median_price 2020 Q4        14
median_price 2021 Q1        33
median_rent_newb 2020 Q1    57
median_rent_newb 2020 Q2    56
median_rent_newb 2020 Q3    33
median_rent_newb 2020 Q4    14
median_rent_newb 2021 Q1    33
new_bonds_no 2020 Q1        57
new_bonds_no 2020 Q2        56
new_bonds_no 2020 Q3        33
new_bonds_no 2020 Q4        14
new_bonds_no 2021 Q1        33
sales_no 2020 Q1            57
sales_no 2020 Q2            56
sales_no 2020 Q3            33
sales_no 2020 Q4            14
sales_no 2021 Q1            33
total_bonds_no 2020 Q1      57
total_bonds_no 2020 Q2      56
total_bonds_no 2020 Q3      33
total_bonds_no 2020 Q4      14
total_bonds_no 2021 Q1      33
dtype: int64

In [26]:
pivot_fillna = pivot.fillna(pivot.median()).round(1)
pivot_fillna.isnull().sum()

mean_price 2020 Q1          0
mean_price 2020 Q2          0
mean_price 2020 Q3          0
mean_price 2020 Q4          0
mean_price 2021 Q1          0
median_price 2020 Q1        0
median_price 2020 Q2        0
median_price 2020 Q3        0
median_price 2020 Q4        0
median_price 2021 Q1        0
median_rent_newb 2020 Q1    0
median_rent_newb 2020 Q2    0
median_rent_newb 2020 Q3    0
median_rent_newb 2020 Q4    0
median_rent_newb 2021 Q1    0
new_bonds_no 2020 Q1        0
new_bonds_no 2020 Q2        0
new_bonds_no 2020 Q3        0
new_bonds_no 2020 Q4        0
new_bonds_no 2021 Q1        0
sales_no 2020 Q1            0
sales_no 2020 Q2            0
sales_no 2020 Q3            0
sales_no 2020 Q4            0
sales_no 2021 Q1            0
total_bonds_no 2020 Q1      0
total_bonds_no 2020 Q2      0
total_bonds_no 2020 Q3      0
total_bonds_no 2020 Q4      0
total_bonds_no 2021 Q1      0
dtype: int64

In [29]:
pivot_fillna.reset_index(inplace=True)
pivot_fillna.to_csv('Files/Cleaned/Pivot_Sales_Rent_5Quarters_Imputed.csv', index=False)

**OPTION2: only keep postcodes that are present in all quarters:**

In [30]:
skeys = list(sales_full['skey'].unique())

D={}
for key in skeys:
    D[str(key)]= sorted(list(sales_full.loc[sales_full['skey']==key, 'postcode'].unique()))
    
for key in skeys:
    print("postcodes in", key,":", len(D[key]))

postcodes in s122 : 539
postcodes in s123 : 543
postcodes in s124 : 531
postcodes in s125 : 529
postcodes in s126 : 524
postcodes in s127 : 535
postcodes in s128 : 519
postcodes in s129 : 527
postcodes in s130 : 527
postcodes in s131 : 528
postcodes in s132 : 520
postcodes in s133 : 521
postcodes in s134 : 544
postcodes in s135 : 563
postcodes in s136 : 544

In [31]:
ls122 = D['s122']
ls123 = D['s123']
ls123 = D['s123']
ls124 = D['s124']
ls125 = D['s125']
ls126 = D['s126']
ls127 = D['s127']
ls128 = D['s128']
ls129 = D['s129']
ls130 = D['s130']
ls131 = D['s131']
ls132 = D['s132']
ls133 = D['s133']
ls134 = D['s134']
ls135 = D['s135']
ls136 = D['s136']

shared_postcodes = list(set.intersection(*map(set,[ls122, ls123,ls124,ls125,ls126,ls127,ls128,ls129,ls130,
                                                   ls131,ls132,ls133,ls134,ls135,ls136])))
shared_postcodes = sorted(shared_postcodes)
print(len(shared_postcodes))

465

In [32]:
# For the purpose of the test DF (5 quarters) - find shared postcodes of this 5 quarters
shared_pc_5 = list(set.intersection(*map(set,[ls132,ls133,ls134,ls135,ls136])))
print("postcodes in all 5 quarters:", len(shared_pc_5))

postcodes in all 5 quarters: 493

In [33]:
# Keep only this 493 postcodes
subset_total = subset_total.loc[subset_total['postcode'].isin(shared_pc_5)]
subset_total['postcode'].nunique()

493

In [34]:
# Then pivot

pivot_493 = subset_total.pivot_table(index='postcode', columns='time_period', values=
                                     ['median_price', 'mean_price', 'sales_no', 'median_rent_newb','new_bonds_no', 'total_bonds_no']).round(2)

print(pivot_493.shape)

(493, 30)

In [35]:
pivot_493.columns = [' '.join(col) for col in pivot_493.columns]
pivot_493.head()

,mean_price 2020 Q1,mean_price 2020 Q2,mean_price 2020 Q3,mean_price 2020 Q4,mean_price 2021 Q1,median_price 2020 Q1,median_price 2020 Q2,median_price 2020 Q3,median_price 2020 Q4,median_price 2021 Q1,...,sales_no 2020 Q1,sales_no 2020 Q2,sales_no 2020 Q3,sales_no 2020 Q4,sales_no 2021 Q1,total_bonds_no 2020 Q1,total_bonds_no 2020 Q2,total_bonds_no 2020 Q3,total_bonds_no 2020 Q4,total_bonds_no 2021 Q1
postcode,,,,,,,,,,,,,,,,,,,,,
2000,1541.0,1322.0,1631.0,1379.0,2794.0,1225.0,1000.0,1390.0,1110.0,1371.0,...,105.0,74.0,100.0,155.0,184.0,8615.0,7595.0,8069.0,9140.0,9327.0
2007,834.0,739.0,658.0,677.0,754.0,745.0,775.0,655.0,651.0,763.0,...,20.0,20.0,20.0,20.0,20.0,2116.0,1810.0,1876.0,1979.0,2024.0
2008,956.0,1144.0,985.0,1184.0,937.0,750.0,1173.0,890.0,991.0,855.0,...,35.0,20.0,36.0,45.0,49.0,4613.0,4286.0,4116.0,4514.0,4228.0
2009,1277.0,1282.0,1373.0,1661.0,1427.0,986.0,1100.0,1085.0,1075.0,1188.0,...,20.0,32.0,56.0,75.0,54.0,2913.0,2793.0,2913.0,3247.0,3333.0
2010,1357.0,1395.0,1476.0,2267.0,1371.0,1280.0,1325.0,1270.0,1240.0,1201.0,...,151.0,125.0,157.0,211.0,218.0,8338.0,8079.0,8182.0,8521.0,8626.0

In [36]:
pivot_493.isnull().sum()

mean_price 2020 Q1          0
mean_price 2020 Q2          0
mean_price 2020 Q3          0
mean_price 2020 Q4          0
mean_price 2021 Q1          0
median_price 2020 Q1        0
median_price 2020 Q2        0
median_price 2020 Q3        0
median_price 2020 Q4        0
median_price 2021 Q1        0
median_rent_newb 2020 Q1    0
median_rent_newb 2020 Q2    0
median_rent_newb 2020 Q3    0
median_rent_newb 2020 Q4    0
median_rent_newb 2021 Q1    0
new_bonds_no 2020 Q1        0
new_bonds_no 2020 Q2        0
new_bonds_no 2020 Q3        0
new_bonds_no 2020 Q4        0
new_bonds_no 2021 Q1        0
sales_no 2020 Q1            0
sales_no 2020 Q2            0
sales_no 2020 Q3            0
sales_no 2020 Q4            0
sales_no 2021 Q1            0
total_bonds_no 2020 Q1      0
total_bonds_no 2020 Q2      0
total_bonds_no 2020 Q3      0
total_bonds_no 2020 Q4      0
total_bonds_no 2021 Q1      0
dtype: int64

In [37]:
pivot_493.reset_index(inplace=True)
pivot_493.to_csv('Files/Cleaned/Pivot_Sales_Rent_5Quarters_SharedPOA.csv', index=False)